@import './variables';
@import './breakpoints-mixin';
body {
  background-color: $background-light;
  min-height: 100vh;
}
* {
  font-family: 'Inter', sans-serif;
}
.container {
  width: 100%;
  max-width: 960px;
  margin-inline: auto;
  @include breakpoint(lg) {
    max-width: 100%;
    padding-inline: 3rem;
  }

  @include breakpoint(sm) {
    max-width: 100%;
    padding-inline: 1.5rem;
  }
}
.blue-background {
  background-color: rgba($accent-main, 0.3) !important ;
}
.ellipsis-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
