@import '../../assets/scss/variables';
.navbar {
  margin-bottom: 0.5rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  border-top: 2px solid #dbddf6;
  border-bottom: 1px solid #dbddf6;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 20%;
    height: 2px;
    top: -2px;
    inset-inline-start: 0;
    background-color: $accent-main;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
  }
  &__company-name {
    font-size: 1.5rem;
    color: $text-main;
  }
}
