@import '../../assets/scss/variables';
.questions {
  width: 100%;
  &-navigation {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 0.25rem;
    padding-inline-end: 0.5rem;
    &__prev,
    &__next {
      padding: 0.25rem;
      border: 1px solid #c0c4f7;
      border-radius: 0.25rem;
      background-color: $background-light;
      &:hover {
        cursor: pointer;
        background-color: darken($background-light, 3);
      }
    }
  }

  .single-question {
    &__prev {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.25rem;
      background-color: $background-light;
      border: none;
      font-size: 0.813rem;
      margin-bottom: 1rem;
      &:hover {
        cursor: pointer;
      }
      p {
        color: $text-light;
        font-weight: 500;
      }
    }
    &__header {
      margin-bottom: 3rem;
    }
    &__title {
      font-size: 1.25rem;
      color: $text-main;
      margin-bottom: 0.5rem;
    }
    &__sub-title {
      font-size: 0.813rem;
      color: $text-light;
    }
    &__lists-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      align-items: stretch;
      margin-bottom: 3rem;
    }
    &__options-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 432px;
    }
    &__option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.25rem;
      background-color: $text-lightest;
      border: 2px solid #d6d5d6;
      border-radius: 0.375em;
      margin-bottom: 0.75rem;
      &:hover {
        cursor: pointer;
      }
    }
    &__ranked-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 432px;
      align-items: flex-end;
      position: relative;
      & > div:first-child {
        height: 100%;
        width: 100%;
        z-index: 1;
      }
    }
    &__ranked-option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.25rem;
      background-color: $text-lightest;
      border: 2px solid #d6d5d6;
      border-radius: 0.375rem;
      margin-bottom: 0.75rem;

      &:hover {
        cursor: pointer;
      }
    }
    &__reset {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      padding: 0.375rem;
      margin-top: 1.5rem;
      position: relative;
      z-index: 3;
      p {
        color: $text-light;
        font-size: 0.813rem;
      }
      &:hover {
        cursor: pointer;
      }
    }
    &__placeholders {
      position: absolute;
      top: 0;
      inset-inline-start: 0;
      width: 100%;
      z-index: 0;
    }
    &__placeholder {
      height: 64px;
      border: 2px dashed #c0c4f7;
      border-radius: 6px;
      margin-bottom: 12px;
      position: relative;

      p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        inset-inline-start: -1.5rem;
        font-size: 1.188rem;
        color: $accent-accent-text;
        width: 1.5rem;
      }
    }
  }
}
